body {
    background-color: burlywood;
    font-family: "Helvetica Neue", sans-serif;
    color: darkslategrey;
    text-align: center;
}

#canvas-container {
    width: 100%;
    text-align: center;
}

canvas {
    border: 10px solid gray;
    display: inline;
}